@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#BigAppsImg{
    text-align: center;
}

table{
    text-align: center;
    
}
table td{
    border: 1px solid white;
}

#appsinfo_1{
    font-family: 'Pretendard-Regular';
    padding-bottom: 10px;
    margin-bottom: 20px;
    line-height: 1cm;
}

#appsinfo_2{
    font-family: 'IBMPlexSansKR-Regular';
    font-weight: 900;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#ImgTitle{
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

